
// We use these to control header font sizes
$h1-font-size: 2.75rem;
$h2-font-size: 2.114rem;
$h3-font-size: 1.586rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

// Global values
// -------------------------
$aluminum: #999999 !default;
$white: #FFFFFF !default;
$oil: #333333 !default;
$smoke: #EEEEEE !default;
$gainsboro: #DDDDDD !default;
$gray: #7b8a8b !default;
$black: #000000 !default;
$white-smoke: #F5F5F5 !default;
$green-color: #209946;
$dark-gray: #929292;

$primaryColor: #0078bf;
$secondaryColor: #099999;
$tertiaryColor: #ffa200;
$quaternaryColor: #f4416b;