@import "settings";
@import url(https://fonts.googleapis.com/css?family=Bitter);

body {
  background-color: rgba(249, 196, 100, 1) !important;
}

div.login {
  background-color: rgba(252, 246, 246, 1) !important;
  font-family: 'Bitter', serif;
  width: 40%;
  padding: 2rem;
  border: 1px;
  border-radius: 5px;
  button.btn {
    margin-top: 2rem;
    font-family: inherit;
  }
}

div.header-label {
  font-family: 'Bitter', serif;
  text-align: center;
  font-size: 4rem;
}

div.main-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $white-smoke;
}

div.profile {
    position: relative;
    float: right;
    border-left: .1rem solid #eee;
}

div.welcome-msg {
    position: relative;
    padding: 1rem;
}

span.editable-text {
    display: block;
    width: auto;
}

form.apply {
  label.btn {
    font-size:10px;
    margin-top: 5px;
  }
  label.btn.btn-primary {
    background-color: #5F7A92;
    height: 24px;
  }
  label.btn.btn-primary.active {
    background-color: #0B3C67;
  } 
}

select.form-control {
  width: 183px
}

button.btn.btn-primary {
  margin-left: 2px;
  margin-right: 2px;
}
textarea {
  height: 24px;
}