<h3>Change password</h3>
<form role="form" (ngSubmit)="save()">
  <alert *ngIf="passwordMatch < 0"  type="danger" clossable>Invalid confirm password</alert>
  <table CLASS="table table-striped input-group">
    <tr>
      <td>New password:</td>
      <td><input [(ngModel)]="newPassword" id="newPassword" type="password" required/></td>
    </tr>
    <tr>
      <td>Confirm password:</td>
      <td><input [(ngModel)]="confirmPassword" id="confirmPassword" type="password" required/></td>
    </tr>
    <tr>
      <td colspan="2"><button class="btn btn-primary" type="submit" >Save</button>&nbsp;
          <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
      </td>
  </table>
</form>
