<h3>Employee Details</h3>
<table CLASS="table table-striped">
  <tr>
    <td>First Name: </td>
    <td>{{employee?.firstName}} </td>
  </tr>
      <tr>
    <td>Middle Name: </td>
    <td>{{employee?.middleName}}</td>
  </tr>
      <tr>
    <td>Last Name:</td>
    <td>{{employee?.lastName}}</td>
  </tr>
      <tr>
    <td>Date of birth:</td>
    <td>{{employee?.birthDate}}</td>
  </tr>
  <tr>
    <td>Sex:</td>
    <td>{{employee?.sex}}</td>
  </tr>
      <tr>
    <td>Blood group:</td>
    <td>{{employee?.bloodGroup}}</td>
  </tr>
      <tr>
    <td>Email:</td>
    <td>{{employee?.email}}</td>
  </tr>
      <tr>
    <td>Date of joining:</td>
    <td>{{employee?.joiningDate}}</td>
  </tr>
  <tr>
    <td>Probation period (in months):</td>
    <td>{{employee?.probationPeriodMonths}}</td>
  </tr>
      <tr>
    <td>Date of release:</td>
    <td>{{employee?.releaseDate}}</td>
  </tr>
      <tr>
    <td>PAN number:</td>
    <td>{{employee?.panNumber}}</td>
  </tr>
      <tr>
    <td>Passport Number:</td>
    <td>{{employee?.passportNumber}}</td>
  </tr>
  <tr>
    <td>Passport expiry date:</td>
    <td>{{employee?.passportValidTill}}</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
    <tr>
    <td colspan="2">Emergency contact person details:</td>
  </tr>
      <tr>
    <td>Name:</td>
    <td> {{employee?.emergencyContactPerson}}</td>
  </tr>
      <tr>
    <td>Contact number:</td>
    <td>{{employee?.emergencyContactPhoneNumber}}</td>
  </tr>
  <tr>
    <td></td>
    <td><a class="btn btn-primary" role="button" [routerLink]="['EmployeeEditor']">Edit</a></td>
</table>
