You have following leaves available:<br/>
<div>Planned: {{availableLeaves?.planned}}  Unplanned: {{availableLeaves?.unplanned}}  Compensatory off: {{availableLeaves?.compOff}} Borrowable: {{availableLeaves?.borrowable}}</div>

<form>
  Apply leaves:
  <div>
    Leave From: <input required [value]="appliedLeave.leaveFrom" (change)="appliedLeave.leaveFrom=$event.target.value" type="date"><br/>
    <input #f type="radio" (click)="appliedLeave.leaveFromHalf=f.value" [checked]="appliedLeave.leaveFromHalf==f.value" value="First"> First half
    <input #s type="radio" (click)="appliedLeave.leaveFromHalf=s.value" [checked]="appliedLeave.leaveFromHalf==s.value" value="Second"> Second half  
  </div>
  <div>
    Leave To: <input required [value]="appliedLeave.leaveTo" (change)="appliedLeave.leaveTo=$event.target.value" type="date"><br/>
    <input #f type="radio" (click)="appliedLeave.leaveToHalf=f.value" [checked]="appliedLeave.leaveToHalf==f.value" value="First"> First half
    <input #s type="radio" (click)="appliedLeave.leaveToHalf=s.value" [checked]="appliedLeave.leaveToHalf==s.value" value="Second"> Second half
  </div>

  <alert [hidden]="areDatesValid"  type="danger"><b>Leave From</b> cannot be after <b>Leave To</b>!</alert>

  <select class="form-control" [(ngModel)]="appliedLeave.leaveType">
    <option *ngFor="#leave of allLeaveTypes" [ngValue]="leave" >{{leave}}</option>
  </select>  

  Leave reason: <textarea [(ngModel)]="appliedLeave.commentByApplicant"></textarea>
  <div [hidden]="!leaveOpenedByManager">Comment by manager: <textarea [(ngModel)]="appliedLeave.commentByManager"></textarea></div>
  <div><button type="submit" (click)="apply()">Apply</button></div>
  <div><button #c type="button" (click)="process(c.value)" value="Cancelled">Cancel</button></div>  
  <div><button #a type="button" [hidden]="!leaveOpenedByManager" (click)="process(c.value)" value="Approved">Approve</button></div>
  <div><button #r type="button" [hidden]="!leaveOpenedByManager" (click)="process(c.value)" value="Rejected">Reject</button></div>   
  <div><button type="button" (click)="clear()">Reset</button></div>
</form>

