<nav class="navbar navbar-default navbar-fixed-top" >
<!--
    <div class="row-fluid">
      <a class="logo pull-left" href="/" title="Roompot Logo" role="logo">
        <img src="/myrp-theme/images/logo_nl.jpg" alt="Roompot Logo" />
      </a>
      <div id="profile" class="pull-right">
        <a class="user-profile" href="#">
          <h3>
          <span class="name">$user_name</span>
          <i class="fa fa-user"></i>
          </h3>
        </a>
        <div class="popover-content-profile popover fade bottom in">
          <div class="arrow"></div>
          <div class="popover-content">
            <a class="close" href="javascript:void(0);">&times;</a>
            <ul class="profile">
              <span class="list-title">Welkom $user_name</span>
              <li>
                <a href="/$language/group/new/my-profile">Mijn gegevens</a>
              </li>
              <li>
                <a href="$sign_out_url">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
-->
</nav>

<div class="container main-container">
  <router-outlet></router-outlet>    
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" >
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</nav>