<h3>Employee Details</h3>
<div>First Name: {{employee?.firstName}}</div> 
<div>Middle Name: {{employee?.middleName}}</div>
<div>Last Name: {{employee?.lastName}}</div>
<div>Date of birth: {{employee?.birthDate}}</div>
<div>Sex: {{employee?.sex}}</div>
<div>Blood group: {{employee?.bloodGroup}}</div>
<div>Email: {{employee?.email}}</div>
<div>Date of joining: {{employee?.joiningDate}}</div>
<div>Probation period (in months): {{employee?.probationPeriodMonths}}</div>
<div>Date of release: {{employee?.releaseDate}}</div>

<div>PAN number: {{employee?.panNumber}}</div>
<div>Passport Number: {{employee?.passportNumber}}</div>
<div>Passport expiry date: {{employee?.passportValidTill}}</div>

<h4>Emergency contact person details:</h4>
<div>Name: {{employee?.emergencyContactPerson}}</div>
<div>Contact number: {{employee?.emergencyContactPhoneNumber}}</div>

<div><a>Edit</a></div>
