<!-- TODO -->
<!-- show some kind of notification like "Password is required" if user fills the form fields incorrectly -->
<!-- implement "Remember me" checkbox -->
<!-- implement "Forgot password" -->

<div class="header-label">Maxxton MIS 2.0</div>
<div class="login jumbotron center-block">
  <form role="form" (submit)="login(userName, password)">
    <alert *ngIf="loggedInUserId < 0"  type="danger" clossable>Invalid credentials</alert>
    <input [(ngModel)]="userName" id="userName" type="text" class="form-control" placeholder="Username"><br/>
    <input [(ngModel)]="password" id="password" type="password" class="form-control" placeholder="Password">
    <button type="submit" class='btn btn-primary'>Login</button>
  </form>
</div>
